*{
    margin: 0;
    padding: 0;
}
.box{
    height: 20vh;
    width: 20vh;
    margin: 2px ;
    border: 2px solid black;
}
.box1{
    background-color:aqua ;
    background-image: url(img_photo.jpg);
    background-size: cover;
}
.box2{
    background-color:rgb(13, 167, 115) ;
   
}
.box3{
    background-color:rgba(71, 214, 28, 0.904) ;
   
}
.box4{
    background-color:blue ;
}

.parent{
    background-image: url(background_image.jpg);
   background-size: contain;
    border: 2px solid purple;
   padding: 43px;
   margin: 34px;
}